.letter {
    //Font
    font-family: monospace;
    font-size: 1rem;

    border: 1px solid #000;
    width: 80%;

    @include flex($direction: column);

    &-content {
        max-height: 750px;
        padding: 20px;
        overflow: scroll;
        &-header, &-signoff{
            text-align: center;
        }
    }

    #rules-dismiss-btn {
        padding: 10px;
        align-self: flex-end;
    }
}