doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Battleships
    body 
        h3 BattleShips
        p 
          |Commander,
          |
          |You are about to engage in a strategic naval battle against an enemy fleet, with the objective of sinking their ships before they can do the same to yours. The game you will be playing is called "Battleship," and the rules are as follows:
          |
          |    1. Deployment: You will each command a fleet of ships, including aircraft carriers, battleships, cruisers, destroyers, and submarines. Your fleet will be secretly placed on a grid, with each ship occupying a specified number of squares.
          |    2. The Grid: The grid is divided into columns (A-J) and rows (1-10). Each square on the grid represents a position in the ocean where a ship can be placed.
          |    3. Placement Restrictions: Ships cannot overlap or touch each other, not even diagonally. Ships must be placed according to their dimensions, with aircraft carriers occupying a maximum of four squares, battleships two squares, cruisers one square, and destroyers and submarines two squares each.
          |    4. The Battle Begins: You will take turns firing at your opponent's fleet. On your turn, you will call out a column and a row, attempting to guess the position of an enemy ship. Your opponent will then respond with a hit or a miss.
          |    5. Hits and Misses: If your shot lands on an enemy ship, it is considered a hit, and the ship is considered damaged. If all of a ship's hit points are exhausted, it is considered sunk. A miss indicates that your shot did not hit any enemy ships.
          |    6. Identifying Ships: After a hit, your opponent will reveal the ship that was hit but not its exact position. You will then mark that ship on your board to keep track of it.
          |    7. Game Continues: After a hit or a miss, your turn continues with another shot. You may fire as many shots as you like during your turn, but once you have ended your turn, the enemy will have a chance to fire back.
          |    8. Sinking the Enemy Fleet: Your objective is to sink all of your opponent's ships. Once all of their ships have been sunk, you will have won the battle and secured the victory for your nation.
          |
          |Remember, Commander, success in this battle depends on your ability to outwit and outmaneuver your opponent. Use your knowledge of naval tactics, strategy, and the element of surprise to gain the upper hand and emerge victorious from this high-stakes engagement. 
          |
          |Good luck, and may the best commander win!

        //Okay we'll make 2 board for our current player, since
        //this is single player only this should be easy
        //2 10x10 grid side by side on desktop
        //stack them on top of each other when on mobile.

        #trackingBoard
          .cell cell
          .cell cell
          .cell cell
          .cell cell
          .cell cell
          .cell cell
          .cell cell

        #gameBoard 
          //.cell cell

Textbox


